{{id    }}
{{employeeId}}
{{employeeEvaluationArray.employeeEmail}}
<!-- <table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" sortable="name" >Evaluation Name</th>
			<th scope="col" sortable="area" >Start Date</th>
			<th scope="col" sortable="population">End Date</th>
			<th scope="col" sortable="population">Creation Date</th>
			<th scope="col" sortable="population">Status</th>
			<th scope="col" sortable="population">Dep. name</th>
			<th scope="col" sortable="population">Questions</th>
		</tr >
	</thead>

	<tbody>
		<tr *ngFor="let item of evaluationList">
      <td> {{item.id}} </td>
			<td> {{item.evaluationName}} </td>
			<td> {{item.evaluationStartDate | date}} </td>
			<td> {{item.evaluationEndTime | date}} </td>
			<td> {{item.evaluationCreationTime | date}} </td>
			<td> {{item.evaluationStatus}} </td>
			<td> {{item.departmentName}} </td>
			<td>
        <a class="btn btn-primary" (click)="addQuestion(item.id)">Add Questions</a> |
        <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="getQuestionDetails(item.id)"
        >Details
      </button>
      </td>
		</tr>
	</tbody>
</table> -->
